trigger:
  branches:
    include:
      - main

pool:
  name: SelfHostedPool

variables:
  nodeVersion: '16.x'

steps:
  - checkout: self

  - task: NodeTool@0
    inputs:
      versionSpec: '$(nodeVersion)'
    displayName: 'Install Node.js'

  - script: |
      npm install
      npm run test
    displayName: 'Install dependencies & run tests'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/drop.zip'
      replaceExistingArchive: true
    displayName: 'Archive build files'

  - publish: '$(Build.ArtifactStagingDirectory)/drop.zip'
    artifact: drop
    displayName: 'Publish artifact'
